/* Test code. */

@each $animal in puma, sea-slug, egret, salamander, lion, tiger, bear, cheetah {
  .#{$animal}-icon {
    background-image: url('/images/#{$animal}.png');
  }
}






<footer>
footer {
  width: 100%;
  height: 300px;
  background-color: red;
}
</footer>
