
/* Define base variables.*/
$blog-back-color: #bdbdbd; 

$blog-title-back-color: #8d8d8d; 

/* Header-footer background color can be customised.*/
$header-footer-back-color: #5e35b1;


/* Fonts are suggested to be consistent, unless specified. */
.blog-title {
	font-family: 'Vollkorn', serif;

}

.blog-content {
	font-family: 'Lato', sans-serif;
}







