
.blogListLink {
	color: black;
	> div {
		border-radius: 10px;
	    border: 2px solid black;
	    padding: 10px;
	    margin: 20px;
	    transition-duration: 0.5s;
	}

	
}

.blogListLink:hover {
	color: black;
    text-decoration: none;
	 > div {
	    padding: 20px;
		background-color:rgba(0, 0, 0, 0.3);
	}
}

.imgHelper {
	
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}


.imgContainer img {
	width: 100%;
	border-radius: 50%;
}

.contentContainer * {
	max-width: 95%;

}

.blog > div {
	padding: 25px;
}

.blogContent {
	margin-bottom: 45px;
}
