footer {
  background-color: #574277;
  background-image: linear-gradient(180deg, rgba(25, 4, 56, 0.7), rgba(7, 85, 131, 0));
  height: 100px;
  padding-top: 20px; }
  footer ul {
    float: right;
    margin-top: 17px;
    padding: 0;
    width: calc(100% - 60px);
    text-align: right; }
    footer ul li {
      display: inline-block;
      margin-left: 25px;
      font-family: 'Anton', sans-serif;
      list-style: none; }
