.logo {
  background-image: url("../img/logo.png");
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: cover;
  float: left; }

header {
  background-color: #574277;
  height: 100px;
  padding-top: 20px; }
  header ul {
    float: right;
    margin-top: 17px;
    padding: 0;
    width: calc(100% - 60px);
    text-align: right; }
  header li {
    display: inline-block;
    margin-left: 25px;
    font-family: 'Anton', sans-serif;
    list-style: none; }

header {
  background-image: linear-gradient(180deg, rgba(25, 4, 56, 0.7), rgba(7, 85, 131, 0)); }

footer {
  background-color: #574277;
  height: 100px;
  padding-top: 20px; }
  footer ul {
    float: right;
    margin-top: 17px;
    padding: 0;
    width: calc(100% - 60px);
    text-align: right; }
  footer li {
    display: inline-block;
    margin-left: 25px;
    font-family: 'Anton', sans-serif;
    list-style: none; }

footer {
  background-image: linear-gradient(180deg, rgba(7, 85, 131, 0), rgba(25, 4, 56, 0.7)); }

a,
a:visited {
  font-family: 'Anton', sans-serif;
  text-transform: uppercase;
  color: #ffffff; }

a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: #9481B0;
  border-color: #9481B0; }
